.row {
  .beauty-secrets-content {
    .col-md-8 {
      img {
        width: 100%;
        padding: 10px 0;
      }
      h4 {
        color: #ec1d25;
      }
    }
    .title {
        padding: 40px 0 20px;
        h4 {
          font-family: sans-serif;
          color: #ec1d25;
          border-bottom: 1px solid;
          display: inline;
        }
    }
    .col-md-4 {
      h4 {
          margin: 0;
          padding-bottom: 10px;
      }
      .form-control {
          border-left: 3px solid #ec1d25;
          margin-bottom: 10px;
          height: 30px;
      }
      textarea {
          width: 100%;
          height: 80px;
          padding: 6px 12px;
      }
      .btn-red {
          margin-top: 15px;
          padding: 5px 20px;
          background: #ec1d25;
          color: #fff !important;
          font-family: sans-serif;
          font-weight: bold;
      }
      .mr-t {
          margin-top: 20px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .beauty-secrets-content {
   .title {
      text-align: center;
     }
   }
}
