 .contact-block {
  padding: 9px 0;
  .image-block {
    display: inline-block;
    margin-right: 22px;
    img {
      width: 100px;
      height: 100px;
    }
  }
  .text-block {
    display: inline-block;
  }
 }