.slick-dots {
    .slick-active {
        button {
            border-radius: 50px;
            border: 1px solid #ff4f4f;
            height: 10px;
            width: 10px;
            background: #ff4f4f;
        }
    }
    li {
        button {
            border-radius: 50px;
            border: 1px solid #ff4f4f;
            height: 10px;
            width: 10px;
        }
        button:before {
            content: no-close-quote;
        }
    }
}

.main-footer {
    color: $white;
    .idea-customer {
        height: 256px;
        color: $black;
        background-color: #fff0f1;
        .idea-header {
            height: 100%;
            padding: 83px 0;
        }
        .text-block {
            border-left: 7px solid #ec1d25;
            padding-left: 10px;
        }
        .idea-text {
            font-size: 2em;
            p {
                margin: 0;
            }
        }
        .slide-footer {
            .image-slide-block {
                img {
                    border: 2px solid #f89194;
                }
            }
            .slide-text {
                padding: 40px 0;
            }
            .single-slick {
                .item {
                    padding: 23px 0;
                }
                .slick-dots {
                    top: 180px;
                    padding-left: 270px;
                    text-align: inherit;
                }
            }
        }
    }
    .footer-top {
        font-size: 12px;
        background-color: #242424;
        .custom-bar {
            ul {
                li {
                    float: left;
                    padding-right: 14px;
                    a {
                        color: $white;
                    }
                }
            }
        }
        .image-spa {
            float: left;
            width: 12%;
        }
        .info-spa {
            h2 {
                padding-left: 15px;
                margin-top: 0;
            }
            .link-list {
                li {
                    padding-bottom: 5px;
                }
            }
            img {
                padding-left: 64px;
            }
            .surgery-block {
                position: relative;
                .surgery {
                    position: absolute;
                    bottom: 1px;
                    right: 6px;
                }
            }
        }
        .container-fluid {
            padding: 30px 0;
        }
    }
    .footer-bottom {
        background-color: #a6a9b0;
        height: 42px;
        .social-list {
            line-height: 41px;
        }
    }
    .site-map {
        .title,
        .title-contact {
            margin: 0;
            font-family: $font-inpi-bold;
            font-size: rem-calc(14px);
            line-height: rem-calc(20px);
            color: $white;
        }
    }
    .social-list {
        text-align: center;
        li {
            display: inline-block;
            margin-left: rem-calc(13px);
            &:first-child {
                margin-left: 0;
            }
        }
        .icon-facebook,
        .icon-linkedin {
            font-size: rem-calc(19px);
        }
        .icon-twitter {
            font-size: rem-calc(17px);
        }
    }
}

@media #{$screen-sm-only} {
    .main-footer .footer-top .info-spa h2 {
        padding-left: 0;
    }
    .main-footer .footer-top .image-spa {
        width: 25%;
        float: left;
    }
    .mail {
        text-align: center;
        padding-top: 10px;
    }
    .logo-footer {
        .img-responsive {
            margin: 0 auto;
        }
    }
    .main-footer .idea-customer .slide-footer .slide-text {
        padding-left: 60px;
    }
    .main-footer .idea-customer .slide-footer .single-slick .slick-dots {
        top: 220px;
    }
}

@media #{$screen-xs-only} {
    .main-footer .footer-top .info-spa h2 {
        padding-left: 0;
    }
    .main-footer .footer-top .image-spa {
        width: 25%;
        float: left;
    }
    .mail {
        text-align: center;
        padding-top: 10px;
    }
    .logo-footer {
        .img-responsive {
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 768px) {
    .main-footer {
        .social-list {
            padding: 0;
        }
        // .logo-footer {
        //     max-width: 100%;
        //     margin: 10px;
        //     padding: 0;
        // }
        .visible-xs {
            display: block !important;
        }
        .hidden-xs {
            display: none !important;
        }
        .mail {
            text-align: center;
            clear: both;
        }
        .footer-top {
            .info-spa {
                h2 {
                    font-weight: bold;
                    font-size: 18px;
                }
            }
            ul {
                font-size: 13px;
            }
            p {
                font-size: 13px;
            }
        }
        .idea-customer {
            .slide-footer {
                .idea-text {
                    display: block;
                    p {
                        margin: 0;
                        font-size: 11px;
                    }
                }
                .image-slide-block {
                    .img-circle {
                        width: 125px;
                    }
                }
                .slide-text {
                    padding: 0 0;
                    h3 {
                        font-size: 25px;
                        margin-top: 10px;
                    }
                    .visible-xs {
                        display: block !important;
                    }
                }
                .slick-dots {
                    top: 125px !important;
                    padding-left: 150px !important;
                }
            }
        }
    }
}

@media screen and (max-width: 670px) {
    .main-footer {
        .idea-customer {
            .slide-footer {
                .image-slide-block {
                    .img-circle {
                        width: 55px;
                    }
                }
                .slide-text {
                    h3 {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .main-footer {
        .idea-customer {
            .slide-footer {
                .slide-text {
                    p {
                        font-size: 12px;
                    }
                }
                .slick-dots {
                    top: 138px !important;
                    padding-left: 100px !important;
                }
            }
        }
    }
}
