.navbar {
    background-image: url(../images/nav-background.png);
    background-repeat: repeat-x;
    border-radius: 0;
    opacity: 0.7;
    margin-bottom: 0;
    border: none;
    width: 100%;
    .navbar-nav {
        margin-left: 87px;
        li {
            a {
                color: $white;
                padding: 26px 15px;
            }
            a:hover {
                background-color: #bb0007;
            }
        }
        .active {
            a {
                background-color: #bb0007;
            }
        }
    }
}

.navbar-toggle {
    .icon-bar {
        background-color: $black;
    }
}

.carousel-caption {
    text-shadow: initial;
    h1 {
        color: #ec1d23;
    }
    p {
        color: $black;
    }
}

@media #{$screen-xs-only} {
    .navbar {
        opacity: 1;
        height: 50px;
        .navbar-toggle {
            margin-right: 10px
        }
        .navbar-nav {
            margin: 0;
            background-color: #101010;
            z-index: 1;
            li {
                a {
                    padding: 10px 15px;
                }
            }
        }
        .navbar-header {
            img {
                max-height: 50px;
            }
        }
    }
}

@media #{$screen-sm-only} {
    .navbar {
        opacity: 1;
        height: 50px;
        .navbar-toggle {
            margin-right: 10px
        }
        .navbar-nav {
            margin: 0;
            background-color: #101010;
            z-index: 1;
            li {
                a {
                    padding: 10px 15px;
                }
            }
        }
        .navbar-header {
            img {
                max-height: 50px;
            }
        }
    }
}
