.navbar {
    background-image: url(../images/nav-background.png);
    background-repeat: repeat-x;
    border-radius: 0;
    opacity: 0.7;
    margin-bottom: 0;
    border: none;
    width: 100%;
    .navbar-nav {
        margin-left: 87px;
        li {
            a {
                color: $white;
                padding: 26px 15px;
            }
            a:hover {
                background-color: #bb0007;
            }
        }
        .active {
            a {
                background-color: #bb0007;
            }
        }
    }
}

.img-footer-block {
    .col-md-3 {
        padding: 0;
    }
    .col-xs-6 {
        padding: 0;
    }
    // .image-hover:hover {
    //     background: rgba(0, 0, 0, 0.5);
    //     content: "";
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     display: block;
    //     background: rgba(0, 0, 0, 0);
    //     z-index: 2;
    //     transition: all ease-in-out .3s;
    //     -moz-transition: all ease-in-out .3s;
    //     -ms-transition: all ease-in-out .3s;
    //     -o-transition: all ease-in-out .3s;
    //     -webkit-transition: all ease-in-out .3s;
    // }
}

.navbar-toggle {
    .icon-bar {
        background-color: $black;
    }
}

.carousel-caption {
    padding-left: 20%;
    text-shadow: initial;
    h1 {
        color: #ec1d23;
    }
    p {
        color: $black;
    }
}

@media #{$screen-xs-only} {
    .navbar {
        opacity: 1;
        height: 50px;
        .navbar-toggle {
            margin-right: 10px
        }
        .navbar-nav {
            margin: 0;
            background-color: #101010;
            z-index: 1;
            li {
                a {
                    padding: 10px 15px;
                }
            }
        }
        .navbar-header {
            img {
                max-height: 50px;
            }
        }
    }
    .carousel-caption {
        padding-left: 25%;
        h1 {
            font-size: 20px;
        }
    }
}

@media #{$screen-sm-only} {
    .navbar {
        opacity: 1;
        height: 50px;
        .navbar-toggle {
            margin-right: 10px
        }
        .navbar-nav {
            margin: 0;
            background-color: #101010;
            z-index: 1;
            li {
                a {
                    padding: 10px 15px;
                }
            }
        }
        .navbar-header {
            img {
                max-height: 50px;
            }
        }
    }
}
