.row.mg-b
  .about-content
    .col-md-8.col-xs-12
      img.top-img(src="images/img-about/img-ab01.png", alt="images")
      h4 Căng da trẻ hóa bằng chỉ Cog Lift 4D và chỉ Collagen 4D
      p Trẻ hóa da và đường nét khuôn mặt bằng sợi chỉ sinh học không phẫu thuật là phương pháp xóa bỏ các dấu hiệu lão hóa như nếp nhăn, da chảy xệ, chùng nhão, đốm sạm màu và tăng cường độ đàn hồi, chắc khỏe, tươi trẻ của làn da. Đây là công nghệ hàng đầu thuộc lĩnh vực chống lão hóa da chuyên sâu, không cần đụng chạm đến dao kéo, có thể thay thế cho các phẫu thuật căng da mặt truyền thống. Tại Việt Nam công nghệ này được chuyển giao từ các trung tâm thẩm mỹ lớn từ Hàn Quốc.<br/><br/>Dựa trên cơ sở trẻ hóa chuyên sâu và nguyên lý xóa mờ nếp nhăn, căng da chùng nhão bằng chỉ sinh học không phẫu thuật, một công nghệ mới với sự xuất hiện và kết hợp giữa chỉ sinh học Cog Lift 4D và chỉ sinh học Collagen 4D đã được ra đời. Công nghệ kết hợp độc đáo này có tác dụng tăng cường hiệu quả điều trị chống lão hóa, nâng cơ chảy xệ, xóa nhăn toàn diện, cải thiện chất lượng làn da và kéo dài thêm thời gian duy trì về lâu dài.
      img.hidden-xs.w-img(src="images/img-about/img-ab06.png", alt="images")
      img.visible-xs.w-img(src="images/img-about/img-ab04.png", alt="images")
      p Được hình thành với cấu trúc là một sợi siêu mảnh bằng chất liệu sinh học tự nhiên, chỉ được sử dụng trong các phẫu thuật nội khoa. Sợi chỉ 4D đúng như tên gọi có thiết kế 4 chiều thông minh, dạng sợi trơn, sẵn sàng nối kết với nhau thành một ma trận sinh học đặc biệt, tạo chỗ bám cho các tế bào, kích thích tăng sinh collagen và nâng đỡ cấu trúc da bị chùng nhão, chảy xệ.<br/>Đây là một dạng chỉ Cog Lift 4D siêu mảnh, được ứng dụng trong các phẫu thuật tim và có thể tự phân hủy theo quá trình thủy phân tự nhiên của cơ thể. Chỉ Cog Lift 4D được tạo thành từ các protein phân hủy sinh học, có hình dáng giống một sợi gai với các mấu cắt vát nhọn đặc biệt, phân bố dọc theo sợi chỉ tuyến tính chứ không phải là gai thật. Sợi chỉ gai này có độ mềm mại tự nhiên, mảnh nhỏ hơn cả sợi tóc nhưng có tác dụng thắt chặt, kéo căng và nâng cơ mạnh mẽ với độ ổn định cao.<br/>Sợi chỉ sinh học Collagen 4D vốn có hiệu quả tạo mạng lưới cấu trúc sinh học để kéo căng các vùng da chảy xệ. Các sợi Collagen 4D khi được ghim cài sâu dưới vùng hạ bì của da sẽ phân bổ nhanh chóng thành một ma trận 4 chiều thông minh, tạo nền móng cơ sở cho sự phát triển và tăng sinh tế bào. Ngay sau đó, sợi chỉ Cog Lift 4D với các mấu gai siêu nhỏ sẽ lập tức bấu chặt và bám sâu vào các mô cơ, len lỏi vào những vị trí biểu bì bị che khuất để bổ khuyết, đan cài và làm dày đều thêm mạng lưới cấu trúc Collagen 4D đã được thiết lập trước đó.<br/>Tại ngay vị trí ma trận mạng lưới sinh học này, các mấu gai và tác động đặc biệt của sợi chỉ Collagen 4D và Cog Lift 4D sẽ làm nhiệm vụ gây “tổn thương giả” để kích thích phản ứng tự làm lành của cơ thể bằng cách sản sinh collagen với tỷ lệ cực cao. Các collagen mới sinh ra hoặc được phục hồi sẽ nhanh chóng tập trung bám chặt khắp xung quanh mạng lưới, giúp tăng cường độ đàn hồi, săn chắc, tái tạo hệ thống chất nền toàn diện cho làn da. Đồng thời mạng lưới sinh học này phát huy tác dụng nâng cơ, kéo căng vùng da chảy xệ trên diện rộng, định hình khuôn mặt V-line thon gọn.
      img.hidden-xs.w-img(src="images/img-about/img-06.png", alt="images")
      img.visible-xs.w-img(src="images/img-about/img-06.png", alt="images")
    .col-md-4.hidden-xs
      h4
        i.arow-icon
        | GỬI CÂU HỎI TƯ VẤN
      form(action="submit")
        input.form-control(type="text",placeholder="Họ tên*:")
        input.form-control(type="text",placeholder="Email*:")
        input.form-control(type="text",placeholder="Điện thoại*:")
        input.form-control(type="text",placeholder="Địa chỉ:")
        textarea(name="", cols="30", rows="10",placeholder="Nội dung")
        button.btn.btn-red GỬI CÂU HỎI
      img.mr-t(src="images/img-about/ab-img.png", alt="images")
      img.mr-t(src="images/img-about/img-ab03.png", alt="images")
      img.mr-t(src="images/img-about/img-ab03.png", alt="images")
