.row
  .top-content
    .title.text-left
      h2 LIÊN HỆ
    .row
      .col-md-12
        img(src='imagesmap', alt='google map')
    .row
      .col-md-6.col-xs-12
        .contact-block
          .image-block
            img(class='img-circle', src='images/img-ct/img-ct02.png', alt='tru so')
          .text-block
            i Cơ sở chính
            p Chi nhánh vũng tàu
      .col-md-6.col-xs-12
        .contact-block
          .image-block
            img(class='img-circle', src='images/img-ct/img-ct02.png', alt='tru so')
          .text-block
            i Cơ sở chính
            p Chi nhánh vũng tàu
    .row
      .col-md-6.col-xs-12
        .contact-block
          .image-block
            img(class='img-circle', src='images/img-ct/img-ct02.png', alt='tru so')
          .text-block
            i Cơ sở chính
            p Chi nhánh vũng tàu
      .col-md-6.col-xs-12
        .contact-block
          .image-block
            img(class='img-circle', src='images/img-ct/img-ct02.png', alt='tru so')
          .text-block
            i Cơ sở chính
            p Chi nhánh vũng tàu

