.detail-heading-block.hidden-print
  +link({title: 'Retour'}).btn.btn-icon.btn-retour.hidden-xs
    span.icon.icon-left
    span.text Retour
  include list-button
.jumbotron.text-center
  h2.title-2
    strong IG 14-015
    |Raquette basque
  +link({title: 'enquête publique en cours'}).btn.btn-1.hidden-print
