#download-list.collapse.visible
  .full-background.document-download
    +link({title: 'close', href: '#download-list'})(role="button", data-toggle="collapse", aria-expanded="true", aria-controls="download-list").btn.btn-icon.btn-close
      span.icon.icon-cross
    +form({name: 'documents-download'})
      .list-document
        .row
          .col-sm-6.col-md-4
            .media.radio-custom
              input(name="document-download", id="all-document", type="radio")
              label(for="all-document").label-control
                .media-left
                  span.icon.icon-pdf
                .media-body
                  h2.title-3 Tous les documents
          .col-sm-6.col-md-4
            .media.radio-custom
              input(name="document-download", id="document-cours", type="radio", checked)
              label(for="document-cours").label-control
                .media-left
                  span.icon.icon-people
                .media-body
                  h2.title-3 Document en cours
                  p Cahier des charges
                  p Soumis à enquête publique le 21/08/2014
          .col-sm-6.col-md-4
            .media.radio-custom
              input(name="document-download", id="document-selection", type="radio")
              label(for="document-selection").label-control
                .media-left
                  span.icon.icon-ok
                .media-body
                  h2.title-3 Document séléctionnés
                  p (cocher les cases correspondantes)
      .text-center
        +button({name: 'download', title: 'Télécharger', type: 'button'}).btn.btn-1.orange Télécharger
