.guide.hidden-xs
  p La base des indications géographique vous permet de consulter les indications géographiques dès la publication au BOPI de leur premier avis d’ouverture d’enquête publique. Vous pouvez utiliser le moteur de recherche, naviguer au sein des indications géographiques en utilisant des filtres/tableaux, ou consulter la page d’aide.