header
  nav.navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        button.navbar-toggle.collapsed.pull-right(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a(href='/index.html')
          img.img-responsive(src='images/spa-logo.png', alt='spa-logo')
      #navbar.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active
            a(href='/index.html') TRANG CHỦ
          li
            a(href='/about.html') GIỚI THIỆU
          li
            a(href='/facelifts.html') CĂNG DA MẶT
          li
            a(href='/beauty-secrets.html') BÍ QUYẾT LÀM ĐẸP
          li
            a(href='/contact.html') LIÊN HỆ
  #myCarousel.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
        li.active(data-target='#myCarousel', data-slide-to='0')         
        li(data-target='#myCarousel', data-slide-to='1')         
        li(data-target='#myCarousel', data-slide-to='2')      
    .carousel-inner(role='listbox')
      .item.active
        img.first-slide(alt='First slide', data-interchange='[images/img-home/img-home-mb-banner.png,images/img-home/img-home-banne.png]')
        .container
          .carousel-caption
            h1 CĂNG DA MẶT
            p.hidden-xs.hidden-sm Trang thiết bị tối tân,không gian là sự hòa quyện giữ vẻ lãng mạn,sang trọng
              | của phong cách Pháp và cảm giác ấm cũng như ở nhà, cùng không gian xanh mang hơi thở của thiên nhiên ngay giữa lòng thành phố.
      .item
        img.second-slide(alt='Second slide', data-interchange='[images/img-home/img-home-mb-banner.png,images/cangdamat-header-image.png]')
        .container
          .carousel-caption
            h1 CĂNG DA MẶT
            p.hidden-xs.hidden-sm Trang thiết bị tối tân,không gian là sự hòa quyện giữ vẻ lãng mạn,sang trọng
              | của phong cách Pháp và cảm giác ấm cũng như ở nhà, cùng không gian xanh mang hơi thở của thiên nhiên ngay giữa lòng thành phố.    
      .item
        img.third-slide(alt='Third slide', data-interchange='[images/img-home/img-home-mb-banner.png,images/img-ct/img-ct01.png]')
        .container
          .carousel-caption
            h1 CĂNG DA MẶT
            p.hidden-xs.hidden-sm Trang thiết bị tối tân,không gian là sự hòa quyện giữ vẻ lãng mạn,sang trọng
              | của phong cách Pháp và cảm giác ấm cũng như ở nhà, cùng không gian xanh mang hơi thở của thiên nhiên ngay giữa lòng thành phố.    
    a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
      span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
      span.sr-only Previous
    a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
      span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
      span.sr-only Next

