.row
  .slider
    .top-slider
      .title
        h2 CĂNG DA MẶT
      p Trang thiết bị tối tân, không gian là sự hòa quyệt giữa vẻ lãng mạn, sang trọng của phong cách Pháp<br/>và cảm giác ấm cúng như ở nhà, cùng không gian xanh mang hơi thở của thiên nhiên ngay giữa lòng<br/>thành phố
    .col-md-4
      img.img-circle(src="images/img-home/img-mb-hp05.png", alt="images")
      .item-slider.item-slider-one
        p Trang thiết bị tối tân, không gian là sự hòa quyệt giữa vẻ lãng mạn, sang trọng của phong cách Pháp và cảm giác ấm cúng như ở nhà, cùng không gian xanh mang hơi thở của thiên nhiên ngay giữa lòng thành phố
    .col-md-4
      img.img-circle(src="images/img-home/img-mb-hp09.png", alt="images")
      .item-slider.item-slider-two
        p Trang thiết bị tối tân, không gian là sự hòa quyệt giữa vẻ lãng mạn, sang trọng của phong cách Pháp và cảm giác ấm cúng như ở nhà, cùng không gian xanh mang hơi thở của thiên nhiên ngay giữa lòng thành phố
    .col-md-4
      img.img-circle(src="images/img-home/img-mb-hp08.png", alt="images")
      .item-slider.item-slider-three
        p Trang thiết bị tối tân, không gian là sự hòa quyệt giữa vẻ lãng mạn, sang trọng của phong cách Pháp và cảm giác ấm cúng như ở nhà, cùng không gian xanh mang hơi thở của thiên nhiên ngay giữa lòng thành phố
