.row
  .slider
    .top-slider
      .title
        h2 CĂNG DA MẶT
      p Trang thiết bị tối tân, không gian là sự hòa quyệt giữa vẻ lãng mạn, sang trọng của phong cách Pháp<br/>và cảm giác ấm cúng như ở nhà, cùng không gian xanh mang hơi thở của thiên nhiên ngay giữa lòng<br/>thành phố
    .col-md-4
      img.img-circle(src="images/img-home/img-mb-hp05.png", alt="images")
      .item-slider.item-slider-one
        p Trang thiết bị tối tân, không gian là sự hòa quyệt giữa vẻ lãng mạn, sang trọng của phong cách Pháp và cảm giác ấm cúng như ở nhà, cùng không gian xanh mang hơi thở của thiên nhiên ngay giữa lòng thành phố
    .col-md-4
      img.img-circle(src="images/img-home/img-mb-hp09.png", alt="images")
      .item-slider.item-slider-two
        p Trang thiết bị tối tân, không gian là sự hòa quyệt giữa vẻ lãng mạn, sang trọng của phong cách Pháp và cảm giác ấm cúng như ở nhà, cùng không gian xanh mang hơi thở của thiên nhiên ngay giữa lòng thành phố
    .col-md-4
      img.img-circle(src="images/img-home/img-mb-hp08.png", alt="images")
      .item-slider.item-slider-three
        p Trang thiết bị tối tân, không gian là sự hòa quyệt giữa vẻ lãng mạn, sang trọng của phong cách Pháp và cảm giác ấm cúng như ở nhà, cùng không gian xanh mang hơi thở của thiên nhiên ngay giữa lòng thành phố
.row
  .top-content
    .title
      h2 DỊCH VỤ NỔI BẬT
    .row
      .col-md-3.col-xs-12
        img(src="images/img-home/img-hp01.png", alt="images")
        .content
          p.title-item Căng da trẻ hóa bằng chỉ Cog Lift và chỉ Collagen 4D
          p Trẻ hóa da và đường nét khuôn mặt bằng sợi chỉ sinh học không phẫu thuật là phương pháp xóa bỏ các dấu hiệu lão hóa như nếp nhăn, da chảy xệ, chùng nh...
      .col-md-3.col-xs-12
        img(src="images/img-home/img-hp02.png", alt="images")
        .content
          p.title-item Trẻ hóa da chuyên sâu cao cấp bằng chỉ vàng 24k và chỉ Cog Lift 4D
          p Theo từng bước phát triển của ngành phổ thuật thẩm mỹ hiện đại, chất lượng sợi chỉ nâng cơ trong nghành thẩm mỹ trẻ hóa da chuyên nghiệp không phẩu thuật ngày cà...
      .col-md-3.col-xs-12
        img(src="images/img-home/img-hp03.png", alt="images")
        .content
          p.title-item Vampire Facelift trẻ hóa - điêu khắc khuôn mặt
          p Vampire Facelift là liệu pháp trị liệu da lừng danh trong nghành thẩm mỹ hiện đại trên thế giới. Công nghệ này còn được biết đến với tên gọi Dracula Th...
      .col-md-3.col-xs-12
        img(src="images/img-home/img-hp04.png", alt="images")
        .content
          p.title-item Căng da mặt bằng chỉ vàng
          p Công nghệ căng da bằng chỉ vàng có xuất xứ từ Hàn Quốc - xứ sở được coi là kinh đô của ngành thẩm mỹ hiện đại. Công nghệ căng da bằng chỉ vàng 24k đượ...
    .row
      .col-md-3.col-xs-12
        img(src="images/img-home/img-hp05.png", alt="images")
        .content
          p.title-item Căng da trẻ hóa bằng chỉ Cog Lift và chỉ Collagen 4D
          p Trẻ hóa da và đường nét khuôn mặt bằng sợi chỉ sinh học không phẫu thuật là phương pháp xóa bỏ các dấu hiệu lão hóa như nếp nhăn, da chảy xệ, chùng nh...
      .col-md-3.col-xs-12
        img(src="images/img-home/img-hp01.png", alt="images")
        .content
          p.title-item Trẻ hóa da chuyên sâu cao cấp bằng chỉ vàng 24k và chỉ Cog Lift 4D
          p Theo từng bước phát triển của ngành phổ thuật thẩm mỹ hiện đại, chất lượng sợi chỉ nâng cơ trong nghành thẩm mỹ trẻ hóa da chuyên nghiệp không phẩu thuật ngày cà...
      .col-md-3.col-xs-12
        img(src="images/img-home/img-hp06.png", alt="images")
        .content
          p.title-item Vampire Facelift trẻ hóa - điêu khắc khuôn mặt
          p Vampire Facelift là liệu pháp trị liệu da lừng danh trong nghành thẩm mỹ hiện đại trên thế giới. Công nghệ này còn được biết đến với tên gọi Dracula Th...
      .col-md-3.col-xs-12
        img(src="images/img-home/img-hp01.png", alt="images")
        .content
          p.title-item Căng da mặt bằng chỉ vàng
          p Công nghệ căng da bằng chỉ vàng có xuất xứ từ Hàn Quốc - xứ sở được coi là kinh đô của ngành thẩm mỹ hiện đại. Công nghệ căng da bằng chỉ vàng 24k đượ...
.row
  .bottom-content
    .title
      h2 BÍ QUYẾT LÀM ĐẸP
    .col-md-6
      img.img-responsive(src="images/img-home/img-hp08.png", alt="images")
      .item-content
        h4 PHẠM HƯƠNG GIỮ DÁNG CHUẨN TRƯỚC "GIỜ G" NHƯ THẾ NÀO
        p Ngay sau khi đăng quang ngôi vị cao nhật của cuộc thi Hoa Hậu Hoàn Vũ Việt Nam 2015, Phạm Hương được coi là một trong những hoa hậu được nhiêu người thừa nhận nhất về nhăn sắc và khí chất hơn người...
        ul
          li
            a(href="#") Nguyễn Cao Kỳ Duyên trẻ đẹp khó tin ở tuổi 50
          li
            a(href="#") Á hậu hoàn vũ Ngô Trà My uống nước mía, giảm 10kg
          li
            a(href="#") Tại sao Hiền Thục lại trẻ lại trẻ lâu đến vậy?
    .col-md-6
      img.img-responsive(src="images/img-home/img-hp07.png", alt="images")
      .item-content
        h4 PHẠM HƯƠNG GIỮ DÁNG CHUẨN TRƯỚC "GIỜ G" NHƯ THẾ NÀO
        p Ngay sau khi đăng quang ngôi vị cao nhật của cuộc thi Hoa Hậu Hoàn Vũ Việt Nam 2015, Phạm Hương được coi là một trong những hoa hậu được nhiêu người thừa nhận nhất về nhăn sắc và khí chất hơn người...
        ul
          li
            a(href="#") Nguyễn Cao Kỳ Duyên trẻ đẹp khó tin ở tuổi 50
          li
            a(href="#") Á hậu hoàn vũ Ngô Trà My uống nước mía, giảm 10kg
          li
            a(href="#") Tại sao Hiền Thục lại trẻ lại trẻ lâu đến vậy?
    img.img-responsive.visible-md.visible-lg(src="images/img-home/img-hp09.png", alt="images")
    img.img-responsive.visible-xs(src="images/img-home/img-mb-hp07.png", alt="images")
