ul.nav.nav-justified.nav-tab
  if !isDocuments
    li.active
      +link({title: 'Description', href: 'detail-description.html'})
        span.text Description
    li
      a(href="detail-documents.html", title="Documents (Cahier(s) des charges, BOPI)")
        span.text Documents&nbsp;
          span (Cahier(s) des charges, BOPI)
        span.type-pdf
          span.icon.icon-pdf
          sub.badge 1
  if isDocuments
    li
      +link({title: 'Description', href: 'detail-description.html'})
        span.text Description
    li.active
      a(href="detail-documents.html", title="Documents (Cahier(s) des charges, BOPI)")
        span.text Documents&nbsp;
          span (Cahier(s) des charges, BOPI)
        span.type-pdf
          span.icon.icon-pdf
          sub.badge 1
