.search-result
  include search-block
  h2.title-search 3 résultats correspondent à votre recherche «marseille»
  include table-6-cols
  p.date-update.text-center Dernière mise à jour de la base de données : 18/06/2015
