+table-mobile([
  [
    {title: '<strong>Nom de l’indication géographique</strong>', desc: '<strong>N° d’homologation</strong>'},
    {title: '<strong>N° d’homologation</strong>', desc: '&nbsp;'},
    {title: '<span>Date d’homologation</span>', desc: '&nbsp;'},
    {title: '<span>Statut légal</span>', desc: 'Enquête publique en cours'},
    {title: '<span>Date de dépôt</span>', desc: '30/06/2014'},
    {title: '<span>N° de la demande</span>', desc: 'IG 14-015'},
    {title: '<span>Ouverture de la dernière enquête publique</span>', desc: '18/08/2014'},
    {title: '<span>Clôture de la dernière enquête publique</span>', desc: '17/10/2017'}
  ]
]).table-top
