.public-enquiry
  include search-block
  .public-enquiry-table
    .row
      .col-md-6.col-sm-12
        h2.title-enquiry!=titleEnquiry
        include table-2-cols
        +link({title: 'Voir toutes les enquêtes publiques en cours',attr: {class: 'link-enquiry'}})
      .col-md-6.col-sm-12
        h2.title-enquiry!=titleEnquiry1
        include table-2-cols
        +link({title: 'Voir toutes les IG homologuées',attr: {class: 'link-enquiry'}})
  p.date-update.text-center Dernière mise à jour de la base de données : 18/06/2015
