- var content = []
if !isHome
  - content = [{title: 'Nom de l’indication géographique', desc: '<a href="#" title="géographique3" class="title">N° d’homologation&nbsp;<abbr title="Marseille">Marseille</abbr></a>'}, {title: 'Nom de l’indication géographique', desc: '<a href="#" title="géographique3" class="title">N° d’homologation</a>'}, {title: 'Nom de l’indication géographique', desc: '<a href="#" title="géographique3" class="title">N° d’homologation</a>'}, {title: 'Nom de l’indication géographique', desc: '<span class="status">N° d’homologation<span class="icon icon-ok"></i>'}, {title: 'N° d’homologation', desc: 'N° d’homologation'}]
- var arrContent = []
- var i = 0
while i < 2
  - arrContent.push(content)
  - i++

+table-mobile(arrContent).text-center.hidden-md-up
