- var total = 1170;
- var col1 = (282/total*100)
- var col2 = (170/total*100)
- var col3 = (175/total*100)
- var col4 = (298/total*100)
- var col5 = (245/total*100)
if (isNoResult)
  .ig-table(data-ajax-table='data/data-table.html')
    if !isSearch
      p.hint-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate vitae, maiores provident assumenda numquam beatae deleniti iste nihil
    include tool-box
    .table-responsive.visible-md-up: +table(
      [
        {attr: {'data-width': col1 + '%'}, link: {title: 'Nom de l’indication géographique', href:'javascript:void(0)'}},
        {attr: {'data-width': col2 + '%'}, link: {title: 'N° d’homologation', href:'javascript:void(0)'}},
        {attr: {'data-width': col3 + '%'}, link: {title: 'Date d’homologation', href:'javascript:void(0)'}},
        {attr: {'data-width': col4 + '%'}, link: {title: 'Date de dépôt', href:'javascript:void(0)'}},
        {attr: {'data-width': col5 + '%'}, link: {title: 'N° de la demande', href:'javascript:void(0)'}}
      ],
      [
        ['<a title="géographique3" href="detail-description.html" class="title grey">géographique3</a>', '&nbsp;', '13/05/2014','IG 15-003', '<span class="status">Enquête publique<span class="icon icon-ok"></span></span>'],
        ['<a title="géographique3" href="detail-description.html" class="title">géographique3</a>','&nbsp;', '13/05/2014','IG 15-003', '<span class="status">Enquête publique<span class="icon icon-ok"></span></span>'],
        ['<a title="géographique3" href="detail-description.html" class="title">géographique3&nbsp;<abbr title="Marseille">Marseille</abbr></a>','&nbsp;', '13/05/2014','IG 15-003', '<span class="status">Enquête publique<span class="icon icon-ok"></span></span>'],
        ['<a title="géographique3" href="detail-description.html" class="title">géographique3&nbsp;<abbr title="Marseille">Marseille</abbr></a>','&nbsp;', '13/05/2014','IG 15-003', '<span class="status">Enquête publique<span class="icon icon-ok"></span></span>'],
        ['<a title="géographique3" href="detail-description.html" class="title">géographique3&nbsp;<abbr title="Marseille">Marseille</abbr></a>','&nbsp;', '13/05/2014','IG 15-003', '<span class="status">Enquête publique<span class="icon icon-ok"></span></span>']
      ]
    ).table(data-table-width)
    include table-mobile
    include tool-box-bottom
else
  p.no-result Ancun ré sultat ne correspond à votre recherche
