.tool-box.hidden-print
  .btn-group.visible-sm-up
    +link({title: 'title file', href: '#download-list'}).btn.btn-icon
      span.icon.icon-file
      span.sr-only Download file
    if !isDocuments
      +link({title: 'icon-print', href: 'javascript:void(0);', attr: {class: 'btn btn-icon', target: '_blank', 'data-print-button':''}})
        span.icon.icon-print
        span.sr-only Print file
  .inner
    if isToolButton
      +link({title: 'Formuler une observation', href: '#form-observation'})(role="button", data-toggle="collapse", aria-expanded="false", aria-controls="form-observation").btn.btn-1.orange
    .pagination
      //- +link({title: 'previous-page', href: 'fr/indications-geographiques/indications-geo/rechercher.html',attr: {class: 'btn btn-control disabled'}})
      //-   span.icon.icon-left
      //-   span.icon.icon-left
      +link({title: 'previous', href: 'fr/indications-geographiques/indications-geo/rechercher.html',attr: {class: 'btn btn-control disabled'}})
        span.icon.icon-left
      .pagination-block
        form.form-pagination(method="post", action="#", name="form-pagination")
          +input({textLabel: 'pagination', clasLabel: 'hidden', name:'inp-pagination', class: 'form-control', value: '1'})
        span.total-number 12
      +link({title: 'next',attr: {class: 'btn btn-control'}})
        span.icon.icon-right
      //- +link({title: 'next-page',attr: {class: 'btn btn-control'}})
      //-   span.icon.icon-right
      //-   span.icon.icon-right

