extends layouts/layout

block vars
  -title = 'Giới Thiệu'
  -bodyClass = 'about'
  -menuIndex = 0
  -titleEnquiry = 'Dernières ouvertures d’enquête publique'
  -titleEnquiry1 = 'Dernières homologations'
  -isHome = false

block container
  include blocks/about-content
