extends layouts/layout

block vars
  -title = 'Bí Quyết Làm Đẹp'
  -bodyClass = 'beauty-secrets'
  -menuIndex = 0
  -titleEnquiry = 'Dernières ouvertures d’enquête publique'
  -titleEnquiry1 = 'Dernières homologations'
  -isHome = false

block container
  include blocks/beauty-secrets-content
