extends layouts/layout

block vars
  -title = 'Căng da mặt'
  -bodyClass = 'home'
  -menuIndex = 0
  -titleEnquiry = 'Dernières ouvertures d’enquête publique'
  -titleEnquiry1 = 'Dernières homologations'
  -isHome = false

block container
  include blocks/facelifts-content
