extends layouts/layout

block vars
  -title = 'Homepage'
  -bodyClass = 'home'
  -menuIndex = 0
  -titleEnquiry = 'Dernières ouvertures d’enquête publique'
  -titleEnquiry1 = 'Dernières homologations'
  -isHome = true

block container
  //- include blocks/guide
  //- include blocks/list-button
  //- include blocks/table-public-enquiry
