mixin page(n, link)
  a(href=(link||n)+".html")!=n

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    link(rel="icon", href="favicon-16x16.png", type="image/x-icon", sizes="16x16")
    title Sitemap
    style.
      *, *:before, *:after {
        box-sizing: border-box;
      }
      #tpl {font: 14px Arial, sans-serif; text-transform: uppercase; text-align: center;}
      #tpl .row {margin-left: -15px; margin-right: -15px; overflow: hidden;}
      #tpl .col {padding-left: 15px; padding-right: 15px; margin: 15px 0;}
      #tpl ul {list-style: none; padding: 0;}
      #tpl a {padding: 15px; display: block; text-decoration: none; background: #eee; color: #111; line-height: 1;}
      #tpl a:hover {background: #ddd; color: #0d4e9d;}
      @media only screen and (min-width : 767px) {
        #tpl li {float: left; width: 50%;}
      }
  body
    #tpl
      h1 INPI
      h2 Templates
      ul.row
        li.col: +page('Style guide', 'template-style-guide')
        li.col: +page('PDF viewer', 'pdfjs/web/viewer')
      h2 Pages
      ul.row
        li.col: +page('Home page', 'index')
        li.col: +page('Search', 'search')
        li.col: +page('Public enquiry', 'public-enquiry')
        li.col: +page('IG approved', 'ig-approved')
        li.col: +page('All the IG', 'all-ig')
        li.col: +page('Help', 'help')
        li.col: +page('Help Results', 'help-results')
        li.col: +page('Detail Description', 'detail-description')
        li.col: +page('Detail Documents', 'detail-documents')
        li.col: +page('Search Noresult', 'search-noresult')
    noscript JavaScript is off. Please enable to view full site.
